# Configuration et Secrets
.env

# Données locales et Sessions 
user_data/
annonces_vues.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Docker
.docker/

# Divers
.DS_Store
tempCodeRunnerFile.py